.landingpage-container {
    /* background-image: url('./imgs/GS_CO\ Homepage\ Illustrations-01.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh; */
    background-image: url('./imgs/GS_CO\ Homepage\ Illustrations-01.svg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    height: 121vh;
    
}

.Find-your-ideal-workspace-or-venue-We-are-now-in-2-cities {
    width: 523px;
    height: 150px;
    font-family: Montserrat;
    font-size: 44px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: left;
    color: #222222;
}